<!DOCTYPE html>
<html>
  <head>
    <!-- Include <script src="{% static "js/Chart.js" %}" type="text/javascript"></script> -->
  	<!-- Credits to https://scotch.io/tutorials/setup-a-react-environment-using-webpack-and-babel -->
    <meta charset="utf-8">
    <title>Heat Map :: Receivable Accounts</title>
    <head>
        <!-- Third party libraries. 
        TODO: Make sure that all libraries hosted in CDNs also exist in our local repository 
      -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js'></script>

      <!-- ALL scripts beneath this line become part of application's bundle. -->
        
    </head>
  </head>
  <body>

    <h1 class="heading">Heat Map</h1>
    <heat-map title='Cuentas por Cobrar' data="receivable-accounts" max="600"/>
    
    <script id="receivable-accounts" type="application/json">
      {"labels":	["Cliente", "1-30", "31-60", "61-90", "> 90", "Total"],
      "values":	[
        ["ACC- - JM Electronica Baez Gonzalez SRL  - Por Pagar", 0.0, 0.0, 0.0, -1244.90, -1244.90],
        ["ACC- - ADMINISTRACION DE ESTACIONES DE SERVICIOS S A - Por Pagar", 0.0, 0.0, -2909.00, 10008.99, 7099.99],
        ["ACC- - ALIMENTOS MASA RIKA MOORE SRL - Por Pagar", 0.0, 0.0, 0.0, -826.59, -826.59],
        ["ACC- - ASEPE - Por Pagar", 0.0, 0.0, 0.0, 15156.45, 15156.45],
        ["ACC- - Almacenes America - Por Pagar", 1670.01, 835.00, 0.0, 2804.10, 5309.11],
        ["ACC- - Almacenes Hatuey - Por Pagar", 0.0, 0.0, 0.0, 3219.04, 3219.04],
        ["ACC- - Almacenes Hatuey S.R.L. - Por Pagar", 0.0, 0.0, 0.0, 12104.00, 12104.00],
        ["ACC- - Almacenes Unidos  - Por Pagar", 2361.00, 3089.00, 0.0, -319.86, 5130.14],
        ["ACC- - Alvarez & Sanchez - Por Pagar", 2844.67, 119705.36, -96937.04, 381579.92, 407192.91],
        ["ACC- - Asonahores - Por Pagar", 0.0, 0.0, -4800.00, 7600.00, 2800.00],
        ["ACC- - Atuo Mall Autodetaling S.R.L  - Por Pagar", 0.0, 0.0, -950.00, 950.00, 0.0],
        ["ACC- - B B B INVESTMENTS S A - Por Pagar", 885.00, -10909.10, 14508.10, 1.44, 4485.44],
        ["ACC- - BATISSA SRL - Por Pagar", 0.0, 2124.00, 0.0, 4012.00, 6136.00],
        ["ACC- - BONA S A - Por Pagar", 0.0, -3285.00, 3285.00, -5999.96, -5999.96],
        ["ACC- - BUNKER SAS - Por Pagar", 0.0, 0.0, 0.0, -694.32, -694.32],
        ["ACC- - Bepensa Dominicana, S.A. - Por Pagar", 8638.90, -2754.60, -16312.32, 47107.66, 36679.64],
        ["ACC- - C & P CIGAR CLUB C POR A    - Por Pagar", 0.0, 0.0, -58929.03, 58929.03, 0.0],
        ["ACC- - C&R Suministro Y Servicios S,A - Por Pagar", 0.0, 0.0, 0.0, 973.40, 973.40],
        ["ACC- - CC Porcionado, S.A. - Por Pagar", -21761.75, 131847.50, 113945.00, 34983.21, 259013.96],
        ["ACC- - CEDICO INTERNATIONAL CORP - Por Pagar", 0.0, 0.0, 0.0, 378.05, 378.05],
        ["ACC- - Caasd - Por Pagar", 0.0, 1285.00, -80.00, 7552.00, 8757.00],
        ["ACC- - Carniceria La Romana - Por Pagar", 0.0, 0.0, 0.0, 2020.00, 2020.00],
        ["ACC- - Cartago S,A - Por Pagar", 0.0, 0.0, 0.0, -2999.92, -2999.92],
        ["ACC- - Cary Industrial, C.por A. - Por Pagar", 0.0, 0.0, 0.0, 6586.76, 6586.76],
        ["ACC- - Centro de Servicios Arquitectonicos SRL, - Por Pagar", 0.0, 0.0, 0.0, -7670.00, -7670.00],
        ["ACC- - Cerarte  - Por Pagar", 0.0, 0.0, 0.0, 7654.00, 7654.00],
        ["ACC- - Cesar Tapia - Por Pagar", 0.0, 0.0, 0.0, 18062.49, 18062.49],
        ["ACC- - Codetel - Por Pagar", -40293.33, 37577.63, 0.0, -31383.83, -34099.53],
        ["ACC- - Comercial Xavieri S.A. - Por Pagar", 2646.00, 0.0, 0.0, 9696.37, 12342.37],
        ["ACC- - EMPRESA SUARA C POR A - Por Pagar", 0.0, 0.0, 96.00, -96.00, 0.0],
        ["ACC- - EPS  - Por Pagar", -33944.29, 31494.73, -5001.89, -14009.08, -21460.53],
        ["ACC- - ESSO BELLA VISTA  - Por Pagar", -2000.00, 2000.00, -3402.00, 11721.00, 8319.00],
        ["ACC- - Embapack S,A - Por Pagar", -40592.00, 34161.00, 0.0, 6431.00, 0.0],
        ["ACC- - Estacion Isla Mexico - Por Pagar", 5962.00, 1272.00, 963.00, 41583.61, 49780.61],
        ["ACC- - Estacion Shell Bella Norte - Por Pagar", 0.0, 0.0, 0.0, -3000.00, -3000.00],
        ["ACC- - Fabrica de Espejo Nolasco - Por Pagar", 0.0, 0.0, 0.0, -499.75, -499.75],
        ["ACC- - Farmacia Dr. Baez - Por Pagar", 0.0, 0.0, 0.0, -460.00, -460.00],
        ["ACC- - Felipe Arias - Por Pagar", 0.0, 0.0, 0.0, 5000.00, 5000.00],
        ["ACC- - Fellini - Por Pagar", 0.0, 0.0, 0.0, 401.80, 401.80],
        ["ACC- - Ferreteria Americana  - Por Pagar", -541.19, 3840.05, -474.46, -17482.04, -14657.64],
        ["ACC- - Fumigadora Extra, S.A. - Por Pagar", 0.0, 0.0, 0.0, -11500.00, -11500.00],
        ["ACC- - GTS Dominicana ,SRL  - Por Pagar", -13780.04, 0.0, 13780.04, 0.0, 0.0],
        ["ACC- - Gantisa - Por Pagar", 0.0, 0.0, 0.0, 865.00, 865.00],
        ["ACC- - Gelato.It SRL  - Por Pagar", 13168.80, 0.0, 0.0, 28532.40, 41701.20],
        ["ACC- - Global Food Trading C,por A - Por Pagar", 0.0, 0.0, 0.0, -3191.47, -3191.47],
        ["ACC- - Goya  - Por Pagar", 0.0, 19802.57, -16907.20, 16907.20, 19802.57],
        ["ACC- - Grupac S,A - Por Pagar", 0.0, 0.0, 0.0, 2397.70, 2397.70],
        ["ACC- - Grupo Carol,S.A  - Por Pagar", -1568.75, 1568.75, -2182.64, 2182.64, 0.0],
        ["ACC- - Grupo Electrico Home Center .C Por A  - Por Pagar", 0.0, 0.0, -10076.00, 10076.00, 0.0],
        ["ACC- - Grupo Institucional del Caribe - Por Pagar", 0.0, 6778.35, 0.0, 22437.51, 29215.86],
        ["ACC- - Hirsova - Por Pagar", 0.0, 0.0, -29500.00, 51920.00, 22420.00],
        ["ACC- - Hostal Nicolas de Ovando (SOGEDETU) - Por Pagar", 0.0, -7372.81, 27033.61, 0.0, 19660.80],
        ["ACC- - Ikea  - Por Pagar", 0.0, -12648.00, 12648.00, -31139.99, -31139.99],
        ["ACC- - Impre Artes Nunez  - Por Pagar", 0.0, 0.0, 0.0, 3993.12, 3993.12],
        ["ACC- - Inversiones Cisal  - Por Pagar", 88500.00, 0.0, 0.0, -5035.05, 83464.95],
        ["ACC- - Inversiones Madre Tierra SRL   - Por Pagar", 0.0, 0.0, 0.0, 1409.57, 1409.57],
        ["ACC- - Italian Food , La . S.A - Por Pagar", 0.0, 0.0, 0.0, 1770.71, 1770.71],
        ["ACC- - Kentucky Foods Group LTD  - Por Pagar", -960.00, 1720.01, 1120.00, 1360.00, 3240.01],
        ["ACC- - LRP Holding - Por Pagar", 0.0, 0.0, 0.0, 934498.40, 934498.40],
        ["ACC- - La Cadena  - Por Pagar", 7433.53, 9178.44, -6252.92, -58248.91, -47889.86],
        ["ACC- - La Salumeria  - Por Pagar", 72032.89, -22461.83, 81999.12, 193571.77, 325141.95],
        ["ACC- - Maderas Decorativas  - Por Pagar", 3601.73, 0.0, 0.0, 0.0, 3601.73],
        ["ACC- - Madreluna - Por Pagar", 0.0, 1000.00, 5972.00, 2119.30, 9091.30],
        ["ACC- - Mapfre BHD - Por Pagar", 0.0, 0.0, 0.0, 107691.93, 107691.93],
        ["ACC- - Marketing Impact - Por Pagar", 0.0, 0.0, 0.0, 45.00, 45.00],
        ["ACC- - Media Intelectus Key ( Milk ), EIRL. - Por Pagar", 0.0, 0.0, 0.0, 75128.00, 75128.00],
        ["ACC- - Mercasid - Por Pagar", -77067.92, 93089.59, -60107.04, 615619.71, 571534.34],
        ["ACC- - Mundo Marketing - Por Pagar", -1404.20, 1404.20, 0.0, 0.0, 0.0],
        ["ACC- - O&R Enterprise SRL  - Por Pagar", -26112.74, 14159.65, 0.0, 18736.94, 6783.85],
        ["ACC- - Ocean Viw,RRL, - Por Pagar", 16610.00, 8800.00, 9350.00, -161544.00, -126784.00],
        ["ACC- - Omaha Gourmet - Por Pagar", 0.0, 0.0, 0.0, 6370.37, 6370.37],
        ["ACC- - Omega Tech - Por Pagar", 0.0, 0.0, 0.0, 13099.14, 13099.14],
        ["ACC- - PI Electronique - Por Pagar", 0.0, 0.0, 0.0, -445837.43, -445837.43],
        ["ACC- - Pan import - Por Pagar", 2870.01, 3540.00, 430.01, 3846.60, 10686.62],
        ["ACC- - Pasteurizadora Rica CXA - Por Pagar", 0.0, 0.0, 0.0, 36669.00, 36669.00],
        ["ACC- - Paulaner Dominicana - Por Pagar", 0.0, 0.0, 0.0, -26447.00, -26447.00],
        ["ACC- - Petro Antillana, S.A - Por Pagar", -7791.84, -52698.40, -25542.05, 139179.55, 53147.26],
        ["ACC- - Plaza Lama  - Por Pagar", 0.0, 0.0, 0.0, 15854.92, 15854.92],
        ["ACC- - Pontifica Universidad Catolica Madre Y Maestra  - Por Pagar", 0.0, 0.0, -4300.00, 570.00, -3730.00],
        ["ACC- - PriceSmart Dominicana - Por Pagar", 13543.47, -325.21, -4151.39, 127455.04, 136521.91],
        ["ACC- - Printcity - Por Pagar", 0.0, 0.0, 0.0, 348.00, 348.00],
        ["ACC- - Rafael de la Cruz - Por Pagar", 0.0, 0.0, 0.0, -4000.00, -4000.00],
        ["ACC- - Raices de la Haya - Por Pagar", 0.0, 0.0, 0.0, -766888.59, -766888.59],
        ["ACC- - Ramon Ortega - Por Pagar", 0.0, 0.0, 0.0, 2000043.00, 2000043.00],
        ["ACC- - Refrigeracion Garcia Importaciones,S.R.L - Por Pagar", 0.0, -4470.00, 4470.00, 0.0, 0.0],
        ["ACC- - Schekmar Industrial, S.A - Por Pagar", -21971.05, 22811.24, 1979.73, 16643.59, 19463.51],
        ["ACC- - Sen Fat Trading, S.A - Por Pagar", 0.0, 0.0, 0.0, 3105.50, 3105.50],
        ["ACC- - Sergen De Caribe S,A  - Por Pagar", -87375.00, 27975.00, 30000.00, 29400.00, 0.0],
        ["ACC- - Servicentro Americano - Por Pagar", 0.0, 0.0, 0.0, -9950.00, -9950.00],
        ["ACC- - Sky Dominicana, S.A. - Por Pagar", 0.0, 0.0, 0.0, 3143.79, 3143.79],
        ["ACC- - Sonoma Import - Por Pagar", 0.0, 0.0, 0.0, 170.00, 170.00],
        ["ACC- - Suarez & Co. - Por Pagar", 0.0, 0.0, 0.0, 6318.78, 6318.78],
        ["ACC- - Sunix Petroleum SRL  - Por Pagar", -0.08, 1000.08, 2000.00, 3699.97, 6699.97],
        ["ACC- - Super Estacion Esso On The  Boulevard,S.A  - Por Pagar", 0.0, 0.0, -400.00, 400.00, 0.0],
        ["ACC- - Supermercado Amigo - Por Pagar", 7860.58, -989.44, 14923.67, 8804.66, 30599.47],
        ["ACC- - Supermercado La Placita - Por Pagar", 0.0, -1192.54, 289.59, 1342.49, 439.54],
        ["ACC- - Supermercados Bravo S,A  - Por Pagar", 97551.54, 2262.20, 31161.46, 415123.68, 546098.88],
        ["ACC- - Suplidora Itamar - Por Pagar", 0.0, 0.0, 0.0, 555.40, 555.40],
        ["ACC- - TSS - Por Pagar", 0.0, -190551.55, 140657.88, -970703.40, -1020597.07],
        ["ACC- - Tabacalera Galiano, SRL - Por Pagar", -20355.00, 20355.00, 0.0, 0.0, 0.0],
        ["ACC- - The Cawley Company - Por Pagar", 0.0, 0.0, 0.0, 28476.00, 28476.00],
        ["ACC- - The Power Service Group - Por Pagar", 0.0, 0.0, 0.0, -1988.30, -1988.30],
        ["ACC- - Tricom (Telecable) - Por Pagar", 0.0, 0.0, 0.0, -145.56, -145.56],
        ["ACC- - Villmat & Asociados  - Por Pagar", 0.0, 0.0, 0.07, -0.07, 0.0],
        ["ACC- - West,S.A - Por Pagar", 0.0, 0.0, 0.10, -0.10, 0.0],
        ["ACC- - Yeto Color  - Por Pagar", -3312.00, 3312.00, -2488.50, 2488.50, 0.0],
        ["ACC- - Zuny Flor - Por Pagar", 2006.00, 4071.00, 0.0, 0.0, 6077.00],
        ["ACC- - la campagna - Por Pagar", -1110.00, 350.00, 80.00, -607.15, -1287.15],
        ["ACC- - supermercado carrefour - Por Pagar", 0.0, -3840.46, 2024.44, 4894.34, 3078.32],
        ["ACC0 - ANTHONY'S - Por Pagar", 0.0, 0.0, 2672.98, -2672.98, 0.0],
        ["ACC0 - ANTONY' S - Por Pagar", 0.0, 0.0, -2672.98, 2672.98, 0.0],
        ["ACC0 - AUTOMATIZACION Y CONTROLES SRL - Por Pagar", 0.0, 0.0, 0.0, -6890.64, -6890.64],
        ["ACC0 - Aluminio De Valle S.R.L - Por Pagar", 0.0, 0.0, 0.61, -0.61, 0.0],
        ["ACC0 - Amable Herrera - Por Pagar", 0.0, 0.0, 0.0, -300.00, -300.00],
        ["ACC0 - Arias Service Centro Automotriz - Por Pagar", 7729.00, -7965.00, 236.00, 7729.00, 7729.00],
        ["ACC0 - Ariel Matos - Por Pagar", 2750.00, -550.00, -3850.00, 26600.00, 24950.00],
        ["ACC0 - BURGER KING  - Por Pagar", 705.00, 0.0, 0.0, 0.0, 705.00],
        ["ACC0 - Baccesory Import SRL - Por Pagar", 0.0, 0.0, 0.0, 11293.23, 11293.23],
        ["ACC0 - Banco Dominicano del Progreso - Por Pagar", 0.0, 0.0, 0.0, 130660.21, 130660.21],
        ["ACC0 - Bodega Colonial - Por Pagar", 0.0, 0.0, 0.0, -525.00, -525.00],
        ["ACC0 - Business Tek - Por Pagar", 0.0, 0.0, 0.0, -1937.09, -1937.09],
        ["ACC0 - CARLOS RAUL SANCHAZ - Por Pagar", 14250.00, 14250.00, 0.0, -148763.00, -120263.00],
        ["ACC0 - CARNES SELECTAS SRL - Por Pagar", 0.0, 0.0, 0.0, -654.02, -654.02],
        ["ACC0 - CASA YESSENIA - Por Pagar", 0.0, 0.0, 0.0, -500.00, -500.00],
        ["ACC0 - CREDIGAS C. POR A. - Por Pagar", 0.0, 0.0, 0.0, -1700.00, -1700.00],
        ["ACC0 - Cecom - Por Pagar", 0.0, -215711.30, -165942.25, 3689085.44, 3307431.89],
        ["ACC0 - Centro de reparaciones SRL - Por Pagar", 0.0, 0.0, 0.0, -4484.00, -4484.00],
        ["ACC0 - Comercializadora ancorage - Por Pagar", -201126.15, 321269.80, -169898.59, 465611.25, 415856.31],
        ["ACC0 - Cometa Music - Por Pagar", 6735.00, -14023.20, 6273.20, 14919.00, 13904.00],
        ["ACC0 - Cuerpo de Bomberos de Sto.Dgo. - Por Pagar", 0.0, 0.0, 0.0, -3000.00, -3000.00],
        ["ACC0 - DISTRIBUIDORES INTERNACIONALES DE PETROLEO S.A. - Por Pagar", 0.0, 0.0, -800.00, 800.00, 0.0],
        ["ACC0 - DOLCE ITALIA - Por Pagar", 0.0, 0.0, 0.0, -11641.75, -11641.75],
        ["ACC0 - Digium,Inc. - Por Pagar", 0.0, 0.0, 0.0, -13587.21, -13587.21],
        ["ACC0 - ENGINEERED POWER MOVING PROJECTS - Por Pagar", 0.0, 0.0, 0.0, 30000.00, 30000.00],
        ["ACC0 - ERIK GAS DEL 2000,S.R.L. - Por Pagar", 0.0, 0.0, 0.0, -3000.45, -3000.45],
        ["ACC0 - ESTACION DE SERVICIOS HE NUEVO MILENIO - Por Pagar", 0.0, 0.0, -5418.00, 10634.00, 5216.00],
        ["ACC0 - ESTACION DE SERVICIOS LA MARINA S.R - Por Pagar", 3000.00, 1500.00, -500.00, 1900.02, 5900.02],
        ["ACC0 - Eduardo Duran - Por Pagar", 0.0, 0.0, 0.0, 65964.38, 65964.38],
        ["ACC0 - El Calvijo S.A. - Por Pagar", 0.0, 0.0, 0.0, 482030.00, 482030.00],
        ["ACC0 - El Clavijo S.A - Por Pagar", 0.0, 0.0, 0.0, 2856286.10, 2856286.10],
        ["ACC0 - Endy Agroindustrial S.R.L - Por Pagar", 0.0, 0.0, 0.0, 3312.00, 3312.00],
        ["ACC0 - Estacion de Servicios La Plata SRL - Por Pagar", 0.0, 0.0, -500.00, 500.00, 0.0],
        ["ACC0 - FEDEX EXPRESS - Por Pagar", 0.0, 0.0, 10.00, -10.00, 0.0],
        ["ACC0 - FIFI Postre Casero  - Por Pagar", 0.0, 0.0, 0.0, -8150.00, -8150.00],
        ["ACC0 - Feliz Ruiz & Co SRL - Por Pagar", 0.0, 0.0, 0.0, -3509.00, -3509.00],
        ["ACC0 - Foto Movil Industrial - Por Pagar", -2006.00, 2006.00, -1888.00, 1888.00, 0.0],
        ["ACC0 - GASTRONOMIA MEXICANA C. POR A. - Por Pagar", 233.64, 1936.38, -318.60, 548.70, 2400.12],
        ["ACC0 - HARRYS DESIGN - Por Pagar", 0.0, 0.0, 0.0, -500.00, -500.00],
        ["ACC0 - HECTOR DIAZ - Por Pagar", 0.0, 0.0, 0.0, -3500.00, -3500.00],
        ["ACC0 - Hidra, SA - Por Pagar", 0.0, 0.0, 0.0, -19806.30, -19806.30],
        ["ACC0 - Hipermarcas - Por Pagar", 0.0, 0.0, 0.0, 4924.14, 4924.14],
        ["ACC0 - INVERSIONES BRUSELAS S.A. - Por Pagar", 0.0, -450000.00, 0.0, 1354129.77, 904129.77],
        ["ACC0 - INVERSIONES LUCAYAS S.A.S - Por Pagar", 0.0, 0.0, 0.0, 12675.02, 12675.02],
        ["ACC0 - INVERSIONES MIGS SRL - Por Pagar", 0.0, 0.0, -2000.00, 2000.00, 0.0],
        ["ACC0 - INVERSIONES RABIDA, S.A. - Por Pagar", 0.0, 0.0, 0.0, -1000.00, -1000.00],
        ["ACC0 - ISLA DOMINICANA DE PETROLEO CORPORATION - Por Pagar", 3500.00, 0.0, -2500.00, 1500.00, 2500.00],
        ["ACC0 - Ingenieria Avanzada - Por Pagar", 0.0, 0.0, 0.0, -689.68, -689.68],
        ["ACC0 - JUAN GABRIEL CAMINERO - Por Pagar", 0.0, 0.0, 0.0, -500.00, -500.00],
        ["ACC0 - Jose Ortiz - Por Pagar", 0.0, 0.0, 0.0, 478.93, 478.93],
        ["ACC0 - Juan Bta Castillo Soto  - Por Pagar", 0.0, 0.0, 35.01, -35.01, 0.0],
        ["ACC0 - LA ENOTECA - Por Pagar", 0.0, 0.0, 0.0, -6084.92, -6084.92],
        ["ACC0 - LA INNOVACION SRL - Por Pagar", -2000.00, 5487.00, 0.0, -0.01, 3486.99],
        ["ACC0 - LUIGI BACCICHET - Por Pagar", 0.0, 0.0, 0.0, -8327.00, -8327.00],
        ["ACC0 - La Cantina By Nopal - Por Pagar", 0.0, 0.0, 0.0, -2022.40, -2022.40],
        ["ACC0 - Lavanderia P M SRL - Por Pagar", 0.0, 0.0, 0.0, -3839.60, -3839.60],
        ["ACC0 - MARTINEAU CLEMENT - Por Pagar", 0.0, 0.0, 0.0, 4555.00, 4555.00],
        ["ACC0 - MAXIMO GOMEZ IMPORT - Por Pagar", 0.0, 0.0, -99.98, 99.98, 0.0],
        ["ACC0 - MC BUSTUR S R L - Por Pagar", 0.0, 0.0, 0.0, 119313.00, 119313.00],
        ["ACC0 - MEJIA ARCALA S.R.L - Por Pagar", 0.0, -4215.90, 0.0, 415.27, -3800.63],
        ["ACC0 - MEN AT WORK - Por Pagar", 0.0, 0.0, 0.0, -1044.01, -1044.01],
        ["ACC0 - MIGUEL ALFONSECA FRANCISCO - Por Pagar", 0.0, 0.0, 0.0, -3000.00, -3000.00],
        ["ACC0 - MUNDO ELECTRICO, SRL - Por Pagar", 0.0, 0.0, 0.0, -20742.37, -20742.37],
        ["ACC0 - Mail Boxes Etc - Por Pagar", 0.0, 0.0, -0.01, 0.01, 0.0],
        ["ACC0 - Naco Caribbean Trade  - Por Pagar", 0.0, 0.0, 0.0, -3960.00, -3960.00],
        ["ACC0 - Operadora de Estaciones de Servicios A.L Dom. - Por Pagar", 5217.20, 0.0, 0.0, 5630.49, 10847.69],
        ["ACC0 - PINTURAS & ACCESORIOS - Por Pagar", 0.0, 0.0, 0.0, -4601.69, -4601.69],
        ["ACC0 - PRINTEX - Por Pagar", 0.0, 0.0, 0.0, -6431.59, -6431.59],
        ["ACC0 - Panes de Francia  - Por Pagar", 0.0, 0.0, 0.0, -1335.00, -1335.00],
        ["ACC0 - Playa Dorada Cigars  - Por Pagar", 0.0, 0.0, 0.0, -94744.76, -94744.76],
        ["ACC0 - Polo Pescaderia - Por Pagar", 0.0, 0.0, 0.0, 2076.80, 2076.80],
        ["ACC0 - QUERBIN SENA  - Por Pagar", 0.0, 0.0, 0.0, -1200.00, -1200.00],
        ["ACC0 - RAFAEL MOREL - Por Pagar", 80049.00, -4892.00, -2663.00, 106605.00, 179099.00],
        ["ACC0 - RAMON HERNANDEZ - Por Pagar", 96912.00, 15356.00, 950.00, -91558.32, 21659.68],
        ["ACC0 - ROBERTO ANTONIO PEREZ - Por Pagar", 0.0, 0.0, 0.0, 120.00, 120.00],
        ["ACC0 - Raysa Electro Industrial - Por Pagar", 0.0, -21240.00, 21240.00, 0.0, 0.0],
        ["ACC0 - Restaurant Capuccino - Por Pagar", 0.0, 0.0, -0.01, 0.01, 0.0],
        ["ACC0 - Restaurante Tipico Bonao  - Por Pagar", 0.0, 0.0, -2668.80, -2406.20, -5075.00],
        ["ACC0 - Rimasu Electronica, SRL - Por Pagar", 0.0, 782.00, -640.00, 2057.99, 2199.99],
        ["ACC0 - SECURITY FORCE - Por Pagar", 0.0, 0.0, 0.0, -7542.64, -7542.64],
        ["ACC0 - SOCIEDAD DOMINICANA DE PRODUCTORES FONOGRAFICOS - Por Pagar", -4200.56, 1677.78, 1677.78, 2519.78, 1674.78],
        ["ACC0 - SYKRYS GAS STATION S.A. - Por Pagar", 0.0, 0.0, -1500.00, -2000.00, -3500.00],
        ["ACC0 - Shell Lucami - Por Pagar", 0.0, 0.0, 0.0, -1446.00, -1446.00],
        ["ACC0 - Soluciones Negocios SRL - Por Pagar", 0.0, 0.0, 0.0, 4970.00, 4970.00],
        ["ACC0 - Supermercado Pola - Por Pagar", 0.0, 0.0, 0.0, -499.94, -499.94],
        ["ACC0 - Suplicol - Por Pagar", 0.0, 0.0, 0.0, 6250.00, 6250.00],
        ["ACC0 - Swah Sen Internacional Rading S.A - Por Pagar", 0.0, 0.0, 0.0, -11728.90, -11728.90],
        ["ACC0 - TALLERES PEREZ - Por Pagar", 0.0, 0.0, 0.0, -2950.00, -2950.00],
        ["ACC0 - TEXACO, ASOGADOM - Por Pagar", 0.0, 0.0, 0.02, -0.02, 0.0],
        ["ACC0 - Taller Ramirin - Por Pagar", 0.0, 0.0, 0.0, -300.00, -300.00],
        ["ACC0 - Troca, S.A. - Por Pagar", 150.00, -16300.00, 9300.00, 11000.00, 4150.00],
        ["ACC0 - Tropigas  - Por Pagar", 0.0, 0.0, 0.0, 479.97, 479.97],
        ["ACC0 - VFA Consultores de Fuerza Laboral S.A. - Por Pagar", 0.0, 0.0, 0.0, -7560.00, -7560.00],
        ["ACC0 - Viveros Plantas Tropicales RG SRL - Por Pagar", 0.0, 0.0, 0.0, -10220.99, -10220.99],
        ["ACC0 - West Five Enterprises SRL - Por Pagar", 2200.00, 4000.00, -3000.00, 1000.00, 4200.00],
        ["ACC0 - ediciones valdes - Por Pagar", 274.99, 0.0, -424.98, 424.98, 274.99],
        ["ACC0 - sederias california - Por Pagar", 0.0, 0.0, 0.0, 219.88, 219.88],
        ["ACC1008 - Rosa Carmen Morla Manzueta - Por Pagar", 0.0, 0.0, -5000.00, 5000.00, 0.0],
        ["ACC1054 - Roberto Medina Mendez - Por Pagar", 0.0, -1500.00, 1500.00, 833.33, 833.33],
        ["ACC1066 - julio cesar manon vasquez - Por Pagar", 0.0, 0.0, 0.0, -3500.00, -3500.00],
        ["ACC807 - Peter Gauster - Por Pagar", 0.0, 0.0, 0.0, 19026170.81, 19026170.81],
        ["ACC858 - Balbino Vizcaino - Por Pagar", 0.0, 0.0, 0.0, 23037.78, 23037.78],
        ["ACC861 - Lavanderia Royal - Por Pagar", 0.0, 0.0, 0.20, -0.20, 0.0],
        ["ACC863 - Juan Bautista Caminero - Por Pagar", 0.0, 0.0, 0.0, -6300.00, -6300.00],
        ["ACC864 - Cinthia Cartier - Por Pagar", 0.0, 0.0, -27400.00, 32400.00, 5000.00],
        ["ACC867 - jumbo Express - Por Pagar", 0.0, 0.0, 0.0, 1243.30, 1243.30],
        ["ACC868 - ferreteria cuesta - Por Pagar", 928.00, 0.0, 0.0, -6318.91, -5390.91],
        ["ACC870 - Martire Batista - Por Pagar", 0.0, 0.0, 0.0, -985.41, -985.41],
        ["ACC872 - I zone - Por Pagar", 0.0, 0.0, 0.0, 640.00, 640.00],
        ["ACC881 - kelvin manuel tejera simon - Por Pagar", 0.0, 0.0, 0.0, -15000.00, -15000.00],
        ["ACC883 - Jose Gabriel Garcia - Por Pagar", 0.0, 0.0, 0.0, -4000.00, -4000.00],
        ["ACC884 - Personal HardRock - Por Pagar", 0.0, 0.0, 0.0, -700.00, -700.00],
        ["ACC888 - Fundacion Mayi - Por Pagar", 0.0, 0.0, 0.0, -10450.00, -10450.00],
        ["ACC890 - Samuel Tejada Balbi - Por Pagar", 0.0, 0.0, 0.0, -2700.00, -2700.00],
        ["ACC894 - Manuel Lara - Por Pagar", 0.0, 0.0, 0.0, -3515.00, -3515.00],
        ["ACC959 - Manic DJ - Por Pagar", 0.0, 0.0, 0.0, -107716.72, -107716.72],
        ["ACC982 - Gregorio Mercado Duran - Por Pagar", 1500.00, -8000.00, 8000.00, 3300.00, 4800.00],
        ["ACC984 - Roy David Lerebours Rodriguez - Por Pagar", 0.0, 0.0, 0.0, -20900.00, -20900.00],
        ["AUX0 - ABASTECIMIENTOS DIVERSOS S A - Por Pagar", 0.0, 0.0, 0.0, 66451.12, 66451.12],
        ["AUX0 - ABENSA ABREU ENERGIA SRL - Por Pagar", 500.00, 0.0, 0.0, 4500.00, 5000.00],
        ["AUX0 - ACABADOS AUTOMOTRICES SRL - Por Pagar", 0.0, 0.0, -1189.44, 1189.44, 0.0],
        ["AUX0 - ACUARIO TROPICAL SRL - Por Pagar", 0.0, -530.00, 530.00, -1195.00, -1195.00],
        ["AUX0 - ADMINISTRADORA DE RIESGOS DE SALUD PRIMERA S A - Por Pagar", -65348.86, -3522.34, -5109.42, 76729.86, 2749.24],
        ["AUX0 - AICOM SRL - Por Pagar", 9947.59, 0.0, 0.0, 0.0, 9947.59],
        ["AUX0 - AIR LIQUIDE DOMINICANA SAS - Por Pagar", 0.0, 0.0, 0.0, 6811.33, 6811.33],
        ["AUX0 - ALMACENES CARBALLO S R L - Por Pagar", 48067.99, 3130.10, 20433.21, 94379.97, 166011.27],
        ["AUX0 - ALMACENES HATUEY SRL - Por Pagar", -47646.08, 88461.82, -97999.70, 178939.89, 121755.93],
        ["AUX0 - ALMAGNA SAS - Por Pagar", 0.0, 0.0, -0.02, 0.02, 0.0],
        ["AUX0 - ALMANZAR VENTANAS Y PUERTAS SRL - Por Pagar", -20954.38, 0.0, -9017.62, 29972.00, 0.0],
        ["AUX0 - ALTICE HISPANIOLA S A - Por Pagar", 0.0, 0.0, 0.0, -3980.83, -3980.83],
        ["AUX0 - AMABLE ARISTY CASTRO S R L - Por Pagar", -2500.00, 4500.00, -3000.00, 8200.07, 7200.07],
        ["AUX0 - AMG AMERICAN MEAT GROUP SRL - Por Pagar", -66263.40, 88505.55, 0.0, 39979.80, 62221.95],
        ["AUX0 - ANA CRISTINA VI\u00d1AS FERNANDEZ - Por Pagar", 0.0, 0.0, -737.50, 737.50, 0.0],
        ["AUX0 - ANACAONA & LONJEFF SA - Por Pagar", -31209.82, 14588.93, 16620.89, 6671.13, 6671.13],
        ["AUX0 - ANDRES FRANCISCO LA CELDA DE LA CRUZ - Por Pagar", 0.0, 0.0, 0.0, 1350.00, 1350.00],
        ["AUX0 - ANTONIO AGRAMONTE PEREZ - Por Pagar", -27870.00, 66280.00, 0.0, 0.0, 38410.00],
        ["AUX0 - AQUA FOODS S R L - Por Pagar", 0.0, 0.0, 0.0, 226.92, 226.92],
        ["AUX0 - AROMA COFFEE SERVICE SAS - Por Pagar", 22968.00, 8352.00, -18792.00, 37584.00, 50112.00],
        ["AUX0 - ARTE MARMOL SRL - Por Pagar", 0.0, -63008.00, 0.0, 233878.26, 170870.26],
        ["AUX0 - ASOCIACION EO CAPITULO REPUBLICA DOMINICANA INC - Por Pagar", 0.0, 0.0, -23600.00, 23600.00, 0.0],
        ["AUX0 - AYUNTAMIENTO DEL DISTRITO NACIONAL - Por Pagar", 8307.00, 1750.00, 1681.00, 703288.74, 715026.74],
        ["AUX0 - BANCO MULTIPLE ADEMI S A - Por Pagar", -5760.00, 0.0, 0.0, 0.0, -5760.00],
        ["AUX0 - BANCO POPULAR DOMINICANO S A BANCO MULTIPLE - Por Pagar", 0.0, 0.0, 12959.10, 22134.22, 35093.32],
        ["AUX0 - BG TECH SRL - Por Pagar", 11770.50, -87691.70, 9416.40, 155630.20, 89125.40],
        ["AUX0 - BIOAGRO INTERNACIONAL SRL - Por Pagar", 3824.00, 0.0, 0.0, 0.0, 3824.00],
        ["AUX0 - BLOWES IMPORT  - Por Pagar", 0.0, -21830.00, 39294.00, 39294.00, 56758.00],
        ["AUX0 - BOMBIDOM SRL - Por Pagar", 0.0, 0.0, 0.0, 2400.00, 2400.00],
        ["AUX0 - BOUTIQUE CAOBA SRL - Por Pagar", 0.0, 0.0, -5010.50, 5010.50, 0.0],
        ["AUX0 - BRUNO SOLUCIONES PARA OFICINA SRL - Por Pagar", 6218.60, 3923.28, -16865.47, 16865.47, 10141.88],
        ["AUX0 - Benerita Institucional del Caribe - Por Pagar", -20324.32, -52402.03, -66297.12, 201457.27, 62433.80],
        ["AUX0 - Brooksfield - Por Pagar", 0.0, 0.0, -0.04, 0.04, 0.0],
        ["AUX0 - CAMARA DE COMERCIO DOMINICO BELGA - Por Pagar", 0.0, 0.0, 0.0, 73544.00, 73544.00],
        ["AUX0 - CAMARA DE COMERCIO INDUSTRIA Y TURISMO PORTUGAL REPUBLICA DOMINICANA CCITPRD INC - Por Pagar", 0.0, 0.0, 0.0, 5000.00, 5000.00],
        ["AUX0 - CARIBE TURISTICO SRL - Por Pagar", 0.0, 0.0, 0.0, 20630.30, 20630.30],
        ["AUX0 - CARLOS SANTANA TAVERAS - Por Pagar", 1980.00, 5756.00, -4302.00, 13762.00, 17196.00],
        ["AUX0 - CASA LUAM SRL - Por Pagar", 0.0, 0.0, 0.0, 607.70, 607.70],
        ["AUX0 - CASA ROSARITO SRL - Por Pagar", 3115.00, 0.0, 0.0, 0.0, 3115.00],
        ["AUX0 - CENTRO CUESTA NACIONAL SAS - Por Pagar", -253120.71, -172540.52, 84139.55, 645903.16, 304381.48],
        ["AUX0 - CLIVER CORP SRL - Por Pagar", 0.0, 14280.10, -16549.29, 16549.29, 14280.10],
        ["AUX0 - COCINA VERIFY SRL - Por Pagar", 0.0, 0.0, 0.0, 21312.45, 21312.45],
        ["AUX0 - CODORNICES DOMINICANAS C POR A - Por Pagar", 0.0, 0.0, -5600.00, 10080.00, 4480.00],
        ["AUX0 - COLUMBIA GROUP SRL - Por Pagar", 233156.24, 794573.34, 288023.60, 542425.98, 1858179.16],
        ["AUX0 - COMBERG INVESTMENTS SRL - Por Pagar", 0.0, 0.0, 0.0, 5000.00, 5000.00],
        ["AUX0 - COMERCIAL ABREU TORIBIO SRL - Por Pagar", 0.0, 0.0, 0.0, -32965.03, -32965.03],
        ["AUX0 - COMERCIAL EXETER SRL - Por Pagar", 2492.75, 0.0, -34072.50, 34072.50, 2492.75],
        ["AUX0 - COMERCIAL LOS VARONES DE DIOS SRL  - Por Pagar", 0.0, 0.0, -179310.00, 179310.00, 0.0],
        ["AUX0 - COMERCIAL TAMPA SRL - Por Pagar", 0.0, 0.0, 0.0, -250.00, -250.00],
        ["AUX0 - COMERCIALIZADORA DOMICA SRL - Por Pagar", 0.0, 0.0, -30258.00, 30258.00, 0.0],
        ["AUX0 - COMPANIA CERVECERA AMBEV DOMINICANA S A - Por Pagar", -14911.03, 78914.53, -13673.25, 33483.82, 83814.07],
        ["AUX0 - COMPANIA COMERCIAL CARIBE C POR A - Por Pagar", 0.0, 0.0, 0.0, -304.97, -304.97],
        ["AUX0 - CONSUELO VILLEGAS - Por Pagar", 0.0, 0.0, 0.0, 1799.00, 1799.00],
        ["AUX0 - CONVERTIDORA CIBAENA DE PAPEL S A - Por Pagar", 5251.00, 0.0, -10502.00, 10502.00, 5251.00],
        ["AUX0 - CORPORACION AVICOLA DEL CARIBE LTD - Por Pagar", -21300.00, 45172.00, -16737.80, 48047.80, 55182.00],
        ["AUX0 - CYNGUSVILLE S R L - Por Pagar", 7466.55, 3763.75, -2268.07, 28039.54, 37001.77],
        ["AUX0 - DE HOTELERA Y SERVS TURI ORGANI - Por Pagar", 0.0, 0.0, -23977.84, 23977.84, 0.0],
        ["AUX0 - DELILISTA SRL - Por Pagar", 2997.00, 1248.75, 1748.25, 1473.52, 7467.52],
        ["AUX0 - DELTA COMERCIAL S A - Por Pagar", 9268.43, 0.0, 0.0, 0.0, 9268.43],
        ["AUX0 - DHL DOMINICANA S A - Por Pagar", 0.0, 0.0, 0.0, 1700.00, 1700.00],
        ["AUX0 - DIPSA CORAL SRL - Por Pagar", 0.0, 910.00, 0.0, 0.0, 910.00],
        ["AUX0 - DIRECCION GENERAL DE ADUANAS Y PUERTOS - Por Pagar", 0.0, 0.0, 0.0, 30030.61, 30030.61],
        ["AUX0 - DISTRI TEX S R L - Por Pagar", 0.0, 0.0, -4621.12, 4621.12, 0.0],
        ["AUX0 - DISTRIBUCIONES LUCO SRL - Por Pagar", 202794.96, 153945.93, -5681.59, 1515863.86, 1866923.16],
        ["AUX0 - DISTRIBUIDORA BALEAR CARIBENA SRL - Por Pagar", 0.0, 0.0, -0.01, 0.01, 0.0],
        ["AUX0 - DISTRIBUIDORA DE ALIMENTOS CORONA DIACO SRL - Por Pagar", 0.0, 2410.00, -17790.00, 40580.00, 25200.00],
        ["AUX0 - DISTRIBUIDORA DE EQUIPOS INDUSTRIALES Y DE SEGURID - Por Pagar", 0.0, -3040.75, 3040.75, 0.0, 0.0],
        ["AUX0 - DNEP & L SERVICES SRL - Por Pagar", 0.0, 0.0, -900.00, 900.00, 0.0],
        ["AUX0 - DOMINSPEC SAS - Por Pagar", 0.0, 0.0, 0.0, 6124.99, 6124.99],
        ["AUX0 - DR KITCHEN SERVICES SRL - Por Pagar", -21022.29, 0.0, -16552.99, 37575.28, 0.0],
        ["AUX0 - DUARIAS SRL - Por Pagar", 11800.00, 0.0, 0.0, 11800.00, 23600.00],
        ["AUX0 - DUBALL HIDALGO LUZON - Por Pagar", 0.0, 0.0, 0.0, 1240.00, 1240.00],
        ["AUX0 - E DELICIAS AVJ SRL - Por Pagar", 0.0, 0.0, -8672.16, 10650.19, 1978.03],
        ["AUX0 - EDUARDO CARLOS MEJIA DE POMAR - Por Pagar", -20697.20, 0.0, 5262.80, 15434.40, 0.0],
        ["AUX0 - EL CATADOR S A - Por Pagar", 34462.66, -5622696.10, -49111.38, 20760820.34, 15123475.52],
        ["AUX0 - EL TALLER CREATIVO SAS - Por Pagar", 0.0, 0.0, 0.0, 217237.68, 217237.68],
        ["AUX0 - EL TRIANGULO CXA - Por Pagar", -950.00, 3950.00, 0.0, -700.00, 2300.00],
        ["AUX0 - ELIAS DISTRIBUCION O & E SRL - Por Pagar", 23863.55, 13448.54, 0.0, 11219.49, 48531.58],
        ["AUX0 - EMPRESA DISTRIBUIDORA DE ELECTRICIDAD DEL ESTE S A - Por Pagar", -529028.86, -24574.22, -4207.81, 564230.76, 6419.87],
        ["AUX0 - EMPRESA GALACTICA SRL - Por Pagar", 0.0, -5640.92, 5640.92, 0.0, 0.0],
        ["AUX0 - EMPRESA LLUBERES LEON S A - Por Pagar", 0.0, 0.0, 0.0, 750.00, 750.00],
        ["AUX0 - EMPRESAS SAJOUR GONZALEZ C POR A - Por Pagar", 0.0, 0.0, 0.0, 2000.00, 2000.00],
        ["AUX0 - EQUIPAMOS SRL - Por Pagar", 0.0, 0.0, 0.0, -6878.22, -6878.22],
        ["AUX0 - ESPANA PUNTO EXPRESO SRL - Por Pagar", 1239.00, 590.00, -4720.00, 8997.00, 6106.00],
        ["AUX0 - ESTACION BELLA VISTA SRL - Por Pagar", 0.0, 0.0, 0.0, 1100.02, 1100.02],
        ["AUX0 - ESTACION DE SERVICIO BELLAMAR SRL - Por Pagar", 0.0, -1000.00, 1000.00, 3000.00, 3000.00],
        ["AUX0 - ESTACION DE SERVICIOS ARROYO HONDO SRL - Por Pagar", 2000.00, 0.0, 0.0, 0.0, 2000.00],
        ["AUX0 - ESTACION DE SERVICIOS EL ACORDEON SRL - Por Pagar", 0.0, 0.0, 0.0, 1500.00, 1500.00],
        ["AUX0 - ESTACION DE SERVICIOS RAMOS SRL - Por Pagar", 0.0, 0.0, 0.0, 2000.00, 2000.00],
        ["AUX0 - ESTACIONES Y TRANSPORTE DE COMBUSTIBLES ESTRACOM S - Por Pagar", 0.0, 0.0, -1500.00, 1500.00, 0.0],
        ["AUX0 - EXPRESS CHECK IN ECI SRL - Por Pagar", 0.0, 833.82, 0.0, 474.99, 1308.81],
        ["AUX0 - Editora Hoy, C. por A. - Por Pagar", 0.0, 0.0, 0.0, 6500.00, 6500.00],
        ["AUX0 - Editora Listin Diario C Por A - Por Pagar", 0.0, 0.0, 0.0, 12751.46, 12751.46],
        ["AUX0 - FERRANDO REFRIGERACION SRL - Por Pagar", 0.0, 0.0, 0.0, -5546.00, -5546.00],
        ["AUX0 - FERRETERIA & MADERAS BEATO S A - Por Pagar", 0.0, -1430.00, 1430.00, 0.0, 0.0],
        ["AUX0 - FERRETERIA ALMA CARIBE SRL - Por Pagar", 0.0, 0.0, -225.00, 225.00, 0.0],
        ["AUX0 - FERRETERIA CIMA SRL - Por Pagar", 0.0, 0.0, 458.00, 0.0, 458.00],
        ["AUX0 - FERRETERIA U & P SRL - Por Pagar", 0.0, -102.10, 102.10, 0.0, 0.0],
        ["AUX0 - FIDEICOMISO DE INVERSION INMOBILIARIA Y DE DESARROLLO INMOBILIARIO COLONIAL PROPERTY FUND - Por Pagar", 1516296.98, -2013333.70, -1944027.62, 18814792.60, 16373728.26],
        ["AUX0 - FLORIANO SRL - Por Pagar", -59401.20, 59401.20, 0.0, 0.0, 0.0],
        ["AUX0 - FORTIA ASESORES SRL - Por Pagar", 0.0, 0.0, 0.0, 473658.52, 473658.52],
        ["AUX0 - FRANCHISE MANAGEMENT COMPANY LTD - Por Pagar", 0.0, 0.0, 0.0, 384.00, 384.00],
        ["AUX0 - FRANCISCO ARAUJO ARAUJO - Por Pagar", 0.0, 1313.00, -1625.00, 995.00, 683.00],
        ["AUX0 - FROMAGES DE FRANCE SRL - Por Pagar", 7700.00, -2540.00, -3880.00, 24800.00, 26080.00],
        ["AUX0 - FUNDACION EDUARDO LEON JIMENES INC - Por Pagar", 0.0, 0.0, -15340.00, 30680.00, 15340.00],
        ["AUX0 - GALLUCCIO SALVATORE SRL - Por Pagar", 9646.00, -9272.00, 2304.00, 6968.00, 9646.00],
        ["AUX0 - GESTORECON SRL - Por Pagar", 0.0, 0.0, 0.0, 20178.00, 20178.00],
        ["AUX0 - GINGER & SPICE SRL - Por Pagar", 0.0, -70529.16, 44148.66, 31035.24, 4654.74],
        ["AUX0 - GLOBAL FINE FOODS C POR A - Por Pagar", 17425.30, -17425.30, 0.0, 34850.60, 34850.60],
        ["AUX0 - GRUPO BORNES SRL - Por Pagar", 3800.00, -2000.00, 1000.00, 1000.00, 3800.00],
        ["AUX0 - GRUPO DE CAMARA INART SRL - Por Pagar", 0.0, 0.0, -17700.00, 17700.00, 0.0],
        ["AUX0 - GRUPO PLUS ASOCIADOS S A - Por Pagar", -52387.04, 15818.84, -3879.20, 40447.40, 0.0],
        ["AUX0 - GRUPO R - Por Pagar", 0.0, -13540.50, 20001.00, 70269.00, 76729.50],
        ["AUX0 - GRUPO RAMOS S A - Por Pagar", 18094.93, -8415.82, 2515.03, 146085.41, 158279.55],
        ["AUX0 - GRUPO SURIEL S A - Por Pagar", 4000.00, -2000.00, 2000.00, 0.0, 4000.00],
        ["AUX0 - GRUPO TECNICO AUTOMOTRIZ KCP S R L - Por Pagar", -98262.93, 98262.93, 0.0, 7615.08, 7615.08],
        ["AUX0 - GRUPPO ALIMENTARE FR SRL - Por Pagar", -53801.87, 3267.26, 292683.02, 482781.03, 724929.44],
        ["AUX0 - GRX DOMINICANA SRL - Por Pagar", 0.0, 0.0, 0.0, 46303.20, 46303.20],
        ["AUX0 - GULFSTREAM PETROLEUM SERVICES SAS - Por Pagar", 0.0, 0.0, 0.01, -0.01, 0.0],
        ["AUX0 - Gourmet Fai, S.R.L. - Por Pagar", 0.0, 0.0, 0.0, 15514.16, 15514.16],
        ["AUX0 - HAFFET ARTEMANIA SRL - Por Pagar", -4332.78, 7872.78, 0.0, 0.0, 3540.00],
        ["AUX0 - HELADERIA VALENTINO SRL - Por Pagar", 13887.72, -19869.30, -7657.20, 45703.88, 32065.10],
        ["AUX0 - HELADOS INTERNACIONALES SRL - Por Pagar", 0.0, 7122.52, 0.0, 0.0, 7122.52],
        ["AUX0 - HI FI SRL - Por Pagar", -15998.99, -31997.98, 0.0, 47996.97, 0.0],
        ["AUX0 - HIELO COLONIAL SRL - Por Pagar", 0.0, 0.0, 0.0, 1600.00, 1600.00],
        ["AUX0 - HUMANO SEGUROS S A - Por Pagar", -33189.27, 33189.27, 0.0, 0.0, 0.0],
        ["AUX0 - Hong Kong Trading SRL - Por Pagar", 0.0, 0.0, 0.0, 512.00, 512.00],
        ["AUX0 - IMEX B & T SRL - Por Pagar", -393567.16, -161914.68, -698372.67, 6601813.52, 5347959.01],
        ["AUX0 - IMPORTACION DUVEL Y MAS - Por Pagar", 0.0, 0.0, -90.00, 90.00, 0.0],
        ["AUX0 - IMPORTADORA HEKET SRL - Por Pagar", 0.0, 0.0, 0.0, 58537.00, 58537.00],
        ["AUX0 - IMPORTADORA RODA SRL - Por Pagar", -41300.00, 41300.00, 0.0, 0.0, 0.0],
        ["AUX0 - IMPORTERS T & E S A - Por Pagar", 2583.36, 6323.04, -2567.16, 7704.72, 14043.96],
        ["AUX0 - INDUSTRIAS IBARRA C POR A - Por Pagar", 0.0, 0.0, 0.0, 1592.00, 1592.00],
        ["AUX0 - INGENIERIA Y AIRE ACONDICIONADO S A - Por Pagar", 0.0, 0.0, -876.11, 3088.69, 2212.58],
        ["AUX0 - INKDOM SRL - Por Pagar", 0.0, 0.0, 900.00, 400.03, 1300.03],
        ["AUX0 - INSTALACIONES ELECTRICAS MEJIA S R L - Por Pagar", 0.0, -5399.99, 0.0, 5399.99, 0.0],
        ["AUX0 - INVERSIONES ADEPREX SRL - Por Pagar", 4000.00, 0.0, 0.0, 0.0, 4000.00],
        ["AUX0 - INVERSIONES BLUMARO S A S - Por Pagar", 2010.03, 0.0, 0.0, 0.0, 2010.03],
        ["AUX0 - INVERSIONES LOPICAES SRL - Por Pagar", -860.01, 860.01, 0.0, 0.0, 0.0],
        ["AUX0 - INVERSIONES ONDOMARE SRL - Por Pagar", 0.0, 0.0, -96.00, 96.00, 0.0],
        ["AUX0 - INVERSIONES ORDINAM SRL - Por Pagar", 32324.30, 2326.14, -14916.01, 30512.54, 50246.97],
        ["AUX0 - INVERSIONES VALERMO EIRL - Por Pagar", 0.0, 0.0, 0.0, 531000.00, 531000.00],
        ["AUX0 - INVIGO SRL - Por Pagar", 0.0, 500.00, 0.0, 0.0, 500.00],
        ["AUX0 - Inversiones Ocho Rios SRL  - Por Pagar", 0.0, 5760.00, -20640.00, 21440.00, 6560.00],
        ["AUX0 - J & D LAVANDERIA SRL  - Por Pagar", 0.0, 0.0, -460.20, 460.20, 0.0],
        ["AUX0 - JALAO SRL  - Por Pagar", 51.20, 454.40, 0.0, -11273296.62, -11272791.02],
        ["AUX0 - JARDIN CONSTANZA S A  - Por Pagar", 560.00, 0.0, 0.0, 0.0, 560.00],
        ["AUX0 - JKM GROUP SRL - Por Pagar", -35968.57, 68048.50, 74436.70, 68378.35, 174894.98],
        ["AUX0 - JOAQUIN SANCHEZ - Por Pagar", 0.0, 0.0, 0.0, -1652.00, -1652.00],
        ["AUX0 - JOBERO COMERCIAL SRL - Por Pagar", 11782.30, 0.0, -46521.50, 102306.00, 67566.80],
        ["AUX0 - JORGE MANUEL RAPOZO LUNA - Por Pagar", 0.0, 0.0, 6250.00, 0.0, 6250.00],
        ["AUX0 - JUAN MENDEZ SRL - Por Pagar", 0.0, 0.0, -106200.00, 106200.00, 0.0],
        ["AUX0 - KAHKOW SRL - Por Pagar", -6995.00, 9315.00, -7250.00, 7250.00, 2320.00],
        ["AUX0 - KHERSUN SRL - Por Pagar", 5720.00, -29520.00, 14040.00, 29340.00, 19580.00],
        ["AUX0 - KRAFTS S R L - Por Pagar", 0.0, 0.0, -155.76, 155.76, 0.0],
        ["AUX0 - LA DOLCERIE DE NATALIA SRL - Por Pagar", 0.0, 0.0, -2933.48, 2933.48, 0.0],
        ["AUX0 - LA MESA S A - Por Pagar", 0.0, 0.0, 0.0, 17570.13, 17570.13],
        ["AUX0 - LA PUERTA DEL SUR SRL - Por Pagar", 20400.00, 0.0, 0.0, 0.0, 20400.00],
        ["AUX0 - LABORATORIOS DE APLICACIONES MEDICAS SRL - Por Pagar", 0.0, 0.0, 0.0, 234623.94, 234623.94],
        ["AUX0 - LAGARDE SRL - Por Pagar", 0.0, 0.0, -1399.90, 5662.30, 4262.40],
        ["AUX0 - LEANDRO AGUSTIN ERNESTO PICHARDO SUAZO - Por Pagar", 0.0, 0.0, 0.0, 14514.00, 14514.00],
        ["AUX0 - LINHAI SHOW- SUN LIGTING CO., LTD - Por Pagar", 0.0, 0.0, 0.0, -35530.21, -35530.21],
        ["AUX0 - LMV ADVISORS S R L - Por Pagar", 0.0, 0.0, -47682.62, 47682.62, 0.0],
        ["AUX0 - LUCIA JUDHIT VANDERHORST SILVERIO - Por Pagar", 0.0, -28320.00, 28320.00, 5220.00, 5220.00],
        ["AUX0 - La Casa del Acero Inoxidable - Por Pagar", 0.0, 0.0, 0.0, 105363.68, 105363.68],
        ["AUX0 - M A CREACIONES ACRILICAS SRL - Por Pagar", 2977.75, 0.0, 0.0, 0.0, 2977.75],
        ["AUX0 - M P G SRL - Por Pagar", -34293.12, 61896.18, -386143.08, 477219.56, 118679.54],
        ["AUX0 - MADERA F & M ASOCIADOS SRL - Por Pagar", 0.0, 0.0, 0.0, -1059.33, -1059.33],
        ["AUX0 - MADESOL S A - Por Pagar", 4879.89, 0.0, -2282.17, 2282.17, 4879.89],
        ["AUX0 - MANEJO DE CARGA DE LINEAS AEREAS DAMA SRL - Por Pagar", 0.0, 0.0, 0.0, 500.00, 500.00],
        ["AUX0 - MARKETING GIMMICKS C POR A - Por Pagar", 0.0, 0.0, 0.0, 66900.60, 66900.60],
        ["AUX0 - MATERIALES INDUSTRIALES SAS - Por Pagar", 0.0, 0.0, -3524.63, 4264.63, 740.00],
        ["AUX0 - MEL CARIBBEAN CORP S R L - Por Pagar", 0.0, 0.0, -59029.44, 59029.44, 0.0],
        ["AUX0 - MERCADO COLON GOURMET EXPERIENCE SRL  - Por Pagar", 0.0, 0.0, 0.0, 5850.00, 5850.00],
        ["AUX0 - MERCANTIL C S A - Por Pagar", 0.0, 3245.00, 0.0, 0.0, 3245.00],
        ["AUX0 - MERCARNE SRL - Por Pagar", -124575.00, 0.0, -186147.50, 1840075.34, 1529352.84],
        ["AUX0 - MERCATODO S A S - Por Pagar", 0.0, 0.0, -31475.00, 31475.00, 0.0],
        ["AUX0 - MUNDO DE DISTRIBUCION S A - Por Pagar", 42276.88, -49665.12, 31389.60, -7569.54, 16431.82],
        ["AUX0 - NAREX S A - Por Pagar", 0.0, 0.0, -1165.01, 1165.01, 0.0],
        ["AUX0 - NAS EIRL - Por Pagar", 800.00, 0.0, 0.0, 0.0, 800.00],
        ["AUX0 - NAZARIO RIZEK S A S - Por Pagar", 0.0, 0.0, 0.0, 44800.00, 44800.00],
        ["AUX0 - NORTONESKI DEVELOPMENT OFFICE SRL - Por Pagar", -72805.30, 0.0, -72805.30, 791378.20, 645767.60],
        ["AUX0 - NOVELLA SRL - Por Pagar", 0.0, 0.0, 286448.56, 2058.30, 288506.86],
        ["AUX0 - NUTS TRADING DOMINICANA S A - Por Pagar", 14602.50, 13570.00, -3720.00, 9428.50, 33881.00],
        ["AUX0 - OKAYAMA STORE SRL - Por Pagar", 0.0, 5640.11, 0.0, 0.0, 5640.11],
        ["AUX0 - OLVEM CORPORATION S A - Por Pagar", -28927.50, 28927.50, 0.0, 0.0, 0.0],
        ["AUX0 - ONTARIO COFFEE SAS - Por Pagar", -6825.44, 6825.44, 0.0, 0.0, 0.0],
        ["AUX0 - OPERADORA CABARETE SRL - Por Pagar", 0.0, 0.0, 0.0, 45189.47, 45189.47],
        ["AUX0 - OPERADORA DE LICORES LA ESPERILLA 947 SRL - Por Pagar", 799.98, 4535.00, 0.0, 0.0, 5334.98],
        ["AUX0 - OPERADORA DE SERVICIOS ALIMENTICIOS LM SRL - Por Pagar", 0.0, 0.0, 0.0, -839.68, -839.68],
        ["AUX0 - ORKIN PEST CONTROL SRL - Por Pagar", 0.0, 0.0, 0.0, 23000.00, 23000.00],
        ["AUX0 - PANADERIA REPOSTERIA VILLAR HNOS SRL - Por Pagar", 0.0, 0.0, -840.07, 840.07, 0.0],
        ["AUX0 - PANADERIA Y PRODUCTO MARIA ALDAPE SRL - Por Pagar", 0.0, 0.0, 0.0, 860.00, 860.00],
        ["AUX0 - PANAVISA SRL - Por Pagar", 0.0, 0.0, 0.0, 750.00, 750.00],
        ["AUX0 - PARA GOURMET TODO PARA COCINA C POR A - Por Pagar", -48919.13, -176014.42, 8799.75, 735428.72, 519294.92],
        ["AUX0 - PARACQUA INVERSIONES SRL  - Por Pagar", 0.0, -200.00, -2360.00, 25674.69, 23114.69],
        ["AUX0 - PATISSERIE LA LIBANESA C POR A - Por Pagar", 2735.00, 2430.00, 1499.97, 0.0, 6664.97],
        ["AUX0 - PEDRO OCTAVIO SANTOS BATISTA - Por Pagar", 0.0, 23000.00, 0.0, 23000.00, 46000.00],
        ["AUX0 - PEREZ QUEZADA GROUP SRL - Por Pagar", -259532.81, 261468.92, 79434.85, 6640.00, 88010.96],
        ["AUX0 - PETROMOVIL S A - Por Pagar", 0.0, 0.0, -1900.10, 1900.10, 0.0],
        ["AUX0 - PIBI CLOUD DOMINICANA SRL - Por Pagar", -210.00, -1416174.77, 649129.91, -41152.70, -808407.56],
        ["AUX0 - PICA POLLO HUANG PU SRL - Por Pagar", 0.0, 0.0, 0.0, 585.00, 585.00],
        ["AUX0 - PLAZA FELIX IMPORT S A  - Por Pagar", 0.0, 0.0, 13600.02, 0.0, 13600.02],
        ["AUX0 - PLAZA NACO HOTEL SRL - Por Pagar", 0.0, 0.0, 0.0, 7142.40, 7142.40],
        ["AUX0 - PON PAN SRL - Por Pagar", 0.0, 0.0, 0.0, 1014.20, 1014.20],
        ["AUX0 - PP Operaciones (Gastos Menor) - Por Pagar", 94102.09, 101385.37, -57967.54, 1489787.60, 1627307.52],
        ["AUX0 - PRODUCTOS FRESCOS DEL CARIBE SRL - Por Pagar", 0.0, -128426.24, 128426.24, 0.0, 0.0],
        ["AUX0 - PROPANO Y DERIVADOS S A - Por Pagar", -11909.86, 115441.70, -47075.39, 158810.42, 215266.87],
        ["AUX0 - PROQUIMIA DOMINICANA S R L - Por Pagar", -28527.25, 21187.71, -17190.37, 31016.37, 6486.46],
        ["AUX0 - PUBLICIDAD SARMIENTO DOMINICANA S A - Por Pagar", 0.0, 0.0, 0.0, 804479.46, 804479.46],
        ["AUX0 - PUERTAS Y VENTANAS OSVALDO SRL - Por Pagar", 0.0, 0.0, 0.0, 2950.00, 2950.00],
        ["AUX0 - Paulina Quezada  - Por Pagar", 93940.00, -40524.50, -26958.50, 84830.50, 111287.50],
        ["AUX0 - Piaceres Cafe ,S,A - Por Pagar", -53947.32, 29424.92, 22803.76, 30437.92, 28719.28],
        ["AUX0 - Quimocaribe,S.A - Por Pagar", 0.0, 0.0, 0.0, -11036.59, -11036.59],
        ["AUX0 - RECYCLING YOUR CITY M Y R SRL - Por Pagar", -17000.00, 0.0, 17000.00, 17000.00, 17000.00],
        ["AUX0 - REFRIGERACION DIROCIE SRL - Por Pagar", 949.99, 0.0, 0.0, 0.0, 949.99],
        ["AUX0 - REFRIPARTES S A - Por Pagar", 0.0, 2700.00, 0.0, 0.0, 2700.00],
        ["AUX0 - REINA SANTO S A - Por Pagar", 0.0, 0.0, 0.0, 9316.00, 9316.00],
        ["AUX0 - REPRESENTACIONES PLAZA SRL - Por Pagar", -193668.10, 68845.84, 58505.58, 113681.50, 47364.82],
        ["AUX0 - RETZY IMPORTACIONES Y EXPORTACIONES S R L - Por Pagar", -82392.32, 39681.04, 52618.56, 128044.16, 137951.44],
        ["AUX0 - ROMANINADO SRL - Por Pagar", -49816.00, 39110.00, -12411.00, 60815.00, 37698.00],
        ["AUX0 - RUBYCOM SRL - Por Pagar", 0.0, 0.0, -160188.92, 160188.92, 0.0],
        ["AUX0 - Ron Depot - Por Pagar", 0.0, 0.0, -72930.00, 75500.25, 2570.25],
        ["AUX0 - SARALINA S WHOLESOME KITCHEN SRL - Por Pagar", 1288.28, 0.0, 0.0, 0.0, 1288.28],
        ["AUX0 - SCENIO SRL - Por Pagar", 0.0, -59400.00, -59400.00, 118800.00, 0.0],
        ["AUX0 - SECURITY PRIMIUM GUILLEN SRL - Por Pagar", 50000.00, 110000.00, 0.0, 0.0, 160000.00],
        ["AUX0 - SEGUROS BANRESERVAS S A - Por Pagar", -145479.11, 0.0, -128156.73, 857190.80, 583554.96],
        ["AUX0 - SERALI RD SRL - Por Pagar", 0.0, 0.0, -880.00, 880.00, 0.0],
        ["AUX0 - SGACEDOM - Por Pagar", 0.0, 1054.00, -1054.00, 3162.00, 3162.00],
        ["AUX0 - SHAZAM LOGISTICS SRL - Por Pagar", 0.0, 7202.97, 0.0, 0.0, 7202.97],
        ["AUX0 - SIEMPRE FRIO PLUS SRL - Por Pagar", -54150.00, 0.0, 0.0, 108300.00, 54150.00],
        ["AUX0 - SIMPEX SRL - Por Pagar", 0.0, 0.0, 0.0, 12860.34, 12860.34],
        ["AUX0 - SISTEMAS ELECTRONICOS AVANZADOS TORCHIO SRL - Por Pagar", 0.0, -48675.00, -36506.25, 146025.00, 60843.75],
        ["AUX0 - SMART 4D SRL - Por Pagar", 0.0, 0.0, 0.0, 944.00, 944.00],
        ["AUX0 - SOCIEDAD DOMINICANA PRODUCTORES FONOGRAFICOS - Por Pagar", 0.0, 0.0, 0.0, 832.18, 832.18],
        ["AUX0 - SOLARA REAL ESTATE LTD - Por Pagar", -74699.90, 22432.98, 10686.08, 52938.34, 11357.50],
        ["AUX0 - SOLUCION FERRETERA NATERA TAPIA SRL - Por Pagar", 0.0, 0.0, 0.0, 450.00, 450.00],
        ["AUX0 - SOLUCIONES INGENIOSAS SRL - Por Pagar", 0.0, 0.0, 0.0, 4998.00, 4998.00],
        ["AUX0 - SPOT LIGHT PRODUCTIONS SRL - Por Pagar", 0.0, 0.0, 0.0, 62590.00, 62590.00],
        ["AUX0 - STRATA SRL - Por Pagar", 0.0, 0.0, -2800.00, 2800.00, 0.0],
        ["AUX0 - STRUKTURAT LTD - Por Pagar", -200000.00, 0.0, -200000.00, 1332120.83, 932120.83],
        ["AUX0 - SUPLITODO LOS PENA SRL - Por Pagar", 0.0, -6431.00, 6431.00, 600.00, 600.00],
        ["AUX0 - TECNICARIBE DOMINICANA S A - Por Pagar", 0.0, 0.0, -211908.46, 1662500.00, 1450591.54],
        ["AUX0 - TECNOAIRE J R SRL - Por Pagar", 0.0, 0.0, -39450.01, 39450.01, 0.0],
        ["AUX0 - TEJON & COMPANIA S R L - Por Pagar", 0.0, 0.0, 0.0, 209.99, 209.99],
        ["AUX0 - TEQUIA SRL - Por Pagar", 0.0, 0.0, 0.0, 34120.21, 34120.21],
        ["AUX0 - TORIA TRADING SRL - Por Pagar", -34397.00, 8437.00, -25960.00, 54931.12, 3011.12],
        ["AUX0 - TORNILLO Y PIEZAS INDUSTRIALES J & M SRL - Por Pagar", 0.0, -2723.44, 0.0, 2723.44, 0.0],
        ["AUX0 - TRANSLOGIC MARITIME AGENCY SRL - Por Pagar", 0.0, 0.0, -499.34, 499.34, 0.0],
        ["AUX0 - TRANSPORTE LOGISTICO MARITIMO SOLANO SRL - Por Pagar", 0.0, 0.0, 0.0, 3310.00, 3310.00],
        ["AUX0 - TRANSPORTES DE COMBUSTIBLES MIXTOS SRL - Por Pagar", 0.0, 0.0, 0.0, 1000.00, 1000.00],
        ["AUX0 - TRAVELWISE COORDINADORES DE VIAJES Y EVENTOS SRL - Por Pagar", -48806.00, 48806.00, 0.0, 0.0, 0.0],
        ["AUX0 - TRESCIENTOS SESENTA GRADOS IMPORT S A - Por Pagar", 41558.09, 53840.83, -13477.63, 56389.94, 138311.23],
        ["AUX0 - TROVASA HAND WASH SRL - Por Pagar", 0.0, 0.0, -450.00, 450.00, 0.0],
        ["AUX0 - TURENLACES DEL CARIBE SRL - Por Pagar", 0.0, 0.0, 0.0, -6833.73, -6833.73],
        ["AUX0 - UFO SRL - Por Pagar", 0.0, 0.0, 1680.94, 0.0, 1680.94],
        ["AUX0 - UNIFORMES PRIMIUN S A - Por Pagar", 0.0, 0.0, 0.0, 16284.00, 16284.00],
        ["AUX0 - URBANVOLT SOLUTION SRL - Por Pagar", 0.0, 0.0, -6845.89, 33293.82, 26447.93],
        ["AUX0 - UTIHOTEL V & H SRL - Por Pagar", -7781.43, -9971.00, 9971.00, 41782.90, 34001.47],
        ["AUX0 - United Brands - Por Pagar", 18467.12, -6236.18, 2728.43, 872333.82, 887293.19],
        ["AUX0 - V ENERGY, S.A. - Por Pagar", 0.0, 1000.00, -2400.00, 2400.00, 1000.00],
        ["AUX0 - VIMA DOMINICANA SRL - Por Pagar", 25929.00, 56219.70, -26576.00, 195585.16, 251157.86],
        ["AUX0 - Vinos S.A. - Por Pagar", 0.0, 0.0, 0.0, 35769.58, 35769.58],
        ["AUX0 - WINES & SPIRIT SRL - Por Pagar", 0.0, 0.0, -0.39, 0.39, 0.0],
        ["AUX0 - WORLDWIDE MEDICAL Assurance LTD CORP - Por Pagar", 0.0, 0.0, 0.0, 94301.15, 94301.15],
        ["AUX1001 - Leo Walser - Por Pagar", 0.0, 0.0, 0.0, -69000.00, -69000.00],
        ["AUX1034 - Joaquin Sanchez - Por Pagar", 0.0, 0.0, 0.0, 1652.00, 1652.00],
        ["AUX1035 - Adrian Isidro Castro Marco - Por Pagar", 0.0, 0.0, 0.0, -105893.57, -105893.57],
        ["AUX1051 - Marino Antonio Lembert Baez - Por Pagar", 0.0, 0.0, 0.0, 89986.80, 89986.80],
        ["AUX1053 - Alejandro Reyes - Por Pagar", 0.0, 0.0, 0.0, -12000.00, -12000.00],
        ["AUX10648 - IRELIS TINEO - Por Pagar", 0.0, 0.0, 0.0, 28640.00, 28640.00],
        ["AUX10698 - MELISSA MELLA - Por Pagar", 0.0, 0.0, 0.0, 85000.00, 85000.00],
        ["AUX1074 - Jose Francisco Valerio Encarnacion - Por Pagar", 0.0, 0.0, 0.0, 4900.00, 4900.00],
        ["AUX10745 - Galluccio Salvatore  - Por Pagar", 9646.00, 0.0, 0.0, 0.0, 9646.00],
        ["AUX10782 - Paula Ruiz - Por Pagar", 0.0, 0.0, 13018.00, 12998.00, 26016.00],
        ["AUX10841 - Jorge Luis Garc\u00eda Garc\u00eda - Por Pagar", -5625.00, 5625.00, -5000.00, 5000.00, 0.0],
        ["AUX1086 - hipolita reyes almanzar - Por Pagar", 0.0, 0.0, 0.0, 1225.00, 1225.00],
        ["AUX1088 - juan carlos martinez ozuna - Por Pagar", 0.0, 2800.00, 0.0, 0.0, 2800.00],
        ["AUX10902 - Anne Yvonne Hernandez - Por Pagar", -24120.00, 24120.00, 0.0, 0.0, 0.0],
        ["AUX10989 - Design Studio - Por Pagar", -199591.68, 0.0, 0.0, 0.0, -199591.68],
        ["AUX1100 - Jose Antonio Valerio Encarnacion - Por Pagar", 0.0, 0.0, 0.0, -2400.00, -2400.00],
        ["AUX1101 - Alfredo Paredes Suero - Por Pagar", 0.0, 0.0, 0.0, -260.00, -260.00],
        ["AUX1103 - Daniela Celeste Pimentel Ruiz - Por Pagar", 0.0, 0.0, 0.0, -1000.00, -1000.00],
        ["AUX1105 - Federanny Coste Pinales - Por Pagar", 0.0, 0.0, 0.0, -5266.68, -5266.68],
        ["AUX11085 - BIONES GERMAN BATISTA  - Por Pagar", 0.0, 8000.00, 0.0, 0.0, 8000.00],
        ["AUX1127 - raul rodriguez - Por Pagar", 0.0, 0.0, 0.0, 6745.86, 6745.86],
        ["AUX1133 - camilo Terrero Roa - Por Pagar", 0.0, 0.0, 0.0, 8500.00, 8500.00],
        ["AUX1148 - Wilfredo Bello - Por Pagar", 0.0, 0.0, 0.0, -5000.00, -5000.00],
        ["AUX1149 - Organic Vegguy - Por Pagar", 0.0, 0.0, 0.0, -16018.62, -16018.62],
        ["AUX115 - Junior Jourdain - Por Pagar", 0.0, 0.0, 0.0, -100.98, -100.98],
        ["AUX1177 - TARJETA CREDITO JAD - Por Pagar", 0.0, 11650.95, 5946.90, -145521.22, -127923.37],
        ["AUX1185 - Jimmy Alexander Figuereo Pujols - Por Pagar", 0.0, 0.0, 0.0, -51144.98, -51144.98],
        ["AUX1194 - Roberto Antonio Perez - Por Pagar", 0.0, 0.0, 0.0, 9000.00, 9000.00],
        ["AUX1195 - Tarjeta Credito SAS - Por Pagar", 0.0, 0.0, -1092.00, -51891.87, -52983.87],
        ["AUX1196 - Tarjeta de Credito LOUIS B - Por Pagar", 0.0, -26462.99, 111210.20, -418557.53, -333810.32],
        ["AUX1198 - FRANK JUNIOR JAVIER PEGUERO - Por Pagar", 0.0, 0.0, 0.0, -700.00, -700.00],
        ["AUX1225 - Francisco Romero Batista - Por Pagar", 11000.00, -6500.00, 6500.00, 0.0, 11000.00],
        ["AUX1226 - Cesar Alejandro  - Por Pagar", 0.0, 0.0, 0.0, 6000.00, 6000.00],
        ["AUX1236 - Luis Andres Palao Infante - Por Pagar", 0.0, 0.0, 0.0, -2343.25, -2343.25],
        ["AUX1258 - Mariel Pou Jimenez - Por Pagar", 0.0, 0.0, 0.0, -321421.82, -321421.82],
        ["AUX1262 - Patrick alonso - Por Pagar", 0.0, 0.0, 0.0, 5099065.00, 5099065.00],
        ["AUX1268 - Fernando A. Rodriguez De Mondesert - Por Pagar", -19084.91, -8932.69, -6579.50, 33464.30, -1132.80],
        ["AUX1271 - FREDDY SELLOS - Por Pagar", 0.0, 0.0, -3200.00, 3200.00, 0.0],
        ["AUX1279 - Lucas Jozef Maria Tilmans - Por Pagar", 0.0, 0.0, 0.0, -239685.65, -239685.65],
        ["AUX1303 - Johnny's Selected Seeds - Por Pagar", 0.0, 0.0, -7888.00, 7888.00, 0.0],
        ["AUX1359 - Junior Manuel Mendez Enriquez - Por Pagar", 0.0, 0.0, 0.0, -1000.00, -1000.00],
        ["AUX137 - Teresa Ventura - Por Pagar", 0.0, 0.0, 0.0, -181115.85, -181115.85],
        ["AUX1379 - Marjorie Benoit Lara - Por Pagar", 0.0, 0.0, 0.0, -527.81, -527.81],
        ["AUX1405 - RAFAEL DE LOS SANTOS - Por Pagar", 0.0, 18000.00, 0.0, 0.0, 18000.00],
        ["AUX1406 - JOSIP VALERIO - Por Pagar", 0.0, 0.0, 0.0, 23771.88, 23771.88],
        ["AUX1407 - Alexis Corporan Carre\u00f1o - Por Pagar", 0.0, 0.0, 0.0, -1951.49, -1951.49],
        ["AUX1463 - Mario Rafael Sama Pumarol - Por Pagar", 0.0, 0.0, 0.0, 3200.00, 3200.00],
        ["AUX1489 - PASCUAL ORTIZ ORTIZ - Por Pagar", 0.0, 0.0, 0.0, 2200.00, 2200.00],
        ["AUX1495 - LUIS NARCISO BALBUENA - Por Pagar", 31180.00, 0.0, -8400.00, 8400.00, 31180.00],
        ["AUX1520 - Eddy Paredes Quezada - Por Pagar", 0.0, 0.0, 0.0, -2500.00, -2500.00],
        ["AUX1531 - Julissa Gloribeeth Brito Fernandez - Por Pagar", 0.0, 0.0, 0.0, -56703.35, -56703.35],
        ["AUX1542 - Yuderka Guillermina German Ramirez - Por Pagar", 0.0, 0.0, 0.0, -10836.19, -10836.19],
        ["AUX1543 - Rolando Portirio  Gonell Aracena - Por Pagar", 0.0, 0.0, 0.0, 311.11, 311.11],
        ["AUX1548 - Yuderka German Ramirez - Por Pagar", 0.0, 0.0, 0.0, -1064.80, -1064.80],
        ["AUX1567 - Andres Avelino Bautista Mejia - Por Pagar", 0.0, 0.0, 0.0, -3412.60, -3412.60],
        ["AUX1570 - AGUSTIN GARCIA POLANCO - Por Pagar", 0.0, 0.0, 0.0, 3500.00, 3500.00],
        ["AUX1586 - Guillermo Gomez - Por Pagar", 0.0, 0.0, 0.0, -24557.50, -24557.50],
        ["AUX160 - Saverio Stassi - Por Pagar", -187508.00, -194008.00, -1652.55, -4040595.66, -4423764.21],
        ["AUX1641 - Kim Alvarez(revista contempo) - Por Pagar", 0.0, 0.0, 0.0, 17700.00, 17700.00],
        ["AUX1648 - Silvio De Jesus Lopez Aristy - Por Pagar", 0.0, 0.0, 0.0, -1628.10, -1628.10],
        ["AUX165 - Jose Flores - Por Pagar", 0.0, 0.0, 0.0, -4299.19, -4299.19],
        ["AUX1675 - Marcos Cabrera Diaz - Por Pagar", 0.0, 0.0, 0.0, 14167.50, 14167.50],
        ["AUX1736 - CESAR RADAMES LUGO ALMANZAR - Por Pagar", 0.0, 0.0, 0.0, -750.00, -750.00],
        ["AUX1751 - MAITTE ABREU - Por Pagar", 0.0, 0.0, 0.0, -12621.73, -12621.73],
        ["AUX1758 - Albio Luis Sanchez Betancourt - Por Pagar", 0.0, 0.0, 0.0, -266.58, -266.58],
        ["AUX1765 - Rafael Cabrera - Por Pagar", 0.0, 0.0, 0.0, 65492.43, 65492.43],
        ["AUX1771 -  Tom Ricketts - Por Pagar", 0.0, 0.0, 0.0, -5000.00, -5000.00],
        ["AUX184 - Simone Pinton - Por Pagar", 0.0, 0.0, 0.0, -80000.00, -80000.00],
        ["AUX1841 - Enrique Cabrera - Por Pagar", 0.0, 0.0, 0.0, 8000.00, 8000.00],
        ["AUX1844 - Dominico Fruci - Por Pagar", 0.0, 0.0, 0.0, -9500.00, -9500.00],
        ["AUX2 - Louis Brocker - Por Pagar", -8600.00, -20453.62, -8042.06, -4097246.72, -4134342.40],
        ["AUX211 - Jose Augusto Feria (Tuto) - Por Pagar", 0.0, 0.0, 0.0, 21842.77, 21842.77],
        ["AUX2261 -  Steve sawyer  - Por Pagar", 0.0, 0.0, 0.0, 6349.81, 6349.81],
        ["AUX2292 - ANGEL STERLING SANTANA - Por Pagar", 0.0, 0.0, -2800.00, 2800.00, 0.0],
        ["AUX237 - Juan R. Naranjo Torren - Por Pagar", 0.0, 0.0, 0.0, 38800.87, 38800.87],
        ["AUX2549 - Lautero Pereyra - Por Pagar", 0.0, 0.0, 0.0, 2800.00, 2800.00],
        ["AUX283 - Plinio Pina (Pina Mendez & Asocisado - Por Pagar", 0.0, -475400.00, -600000.00, -1964387.83, -3039787.83],
        ["AUX2830 - Forum Event Design Production - Por Pagar", 0.0, 0.0, 0.0, 51225.90, 51225.90],
        ["AUX2892 - KARINA INES RAVELO - Por Pagar", 0.0, -5559.36, 0.0, 7050.20, 1490.84],
        ["AUX2893 - BERNARDO LUIS VEGA JIMENEZ - Por Pagar", 0.0, 0.0, -10000.00, 10000.00, 0.0],
        ["AUX3148 - Jose Veras - Por Pagar", 0.0, 0.0, 0.0, 16000.00, 16000.00],
        ["AUX317 - Hugo Esteban Cruz  - Por Pagar", 0.0, 0.0, 0.0, -9400.00, -9400.00],
        ["AUX3603 - Sara Pimentel - Por Pagar", 0.0, 0.0, 0.0, -12000.00, -12000.00],
        ["AUX363 - Ian Alburquerque - Por Pagar", 0.0, 0.0, 0.0, 176785.58, 176785.58],
        ["AUX3670 - Gregory Noel Vanderjorst Rodriguez - Por Pagar", 0.0, 0.0, 0.0, 2335.84, 2335.84],
        ["AUX368 - Carlos David Martinez - Por Pagar", 0.0, 0.0, 0.0, -1000.00, -1000.00],
        ["AUX382 - Edwin Jose Vidal Guerrero - Por Pagar", 0.0, 0.0, 0.0, -387.90, -387.90],
        ["AUX4 - Carolina de la Mota - Por Pagar", 0.0, 0.0, 0.0, -23807.67, -23807.67],
        ["AUX4006 - HELEN BLANDINO - Por Pagar", 0.0, 0.0, 0.0, 10000.00, 10000.00],
        ["AUX425 -  NO  PP OP  USAR ESTE PROVEEDOR - Por Pagar", 0.0, 0.0, 0.0, 2624809.05, 2624809.05],
        ["AUX4297 -  LAURA DIAZ M. - Por Pagar", 0.0, 0.0, 0.0, 1000.00, 1000.00],
        ["AUX4338 - Carlos Perez - Por Pagar", 0.0, 0.0, 0.0, -1434.51, -1434.51],
        ["AUX434 - Adrian Castro  - Por Pagar", 0.0, 0.0, 0.0, 570518.02, 570518.02],
        ["AUX441 - Sonia Severino - Por Pagar", 0.0, 0.0, 0.0, -1043.17, -1043.17],
        ["AUX463 - Sobeida Peralta NO USAR NCF BLOQUEADO - Por Pagar", 0.0, 0.0, 0.0, 5400.00, 5400.00],
        ["AUX477 - Amable A. Castro  NO USAR REPETIDO - Por Pagar", 0.0, 0.0, 0.0, -13485.03, -13485.03],
        ["AUX4829 - Juan Carlos Puertas Carrion - Por Pagar", 0.0, 0.0, 0.0, -440.54, -440.54],
        ["AUX5128 - Laura Abreu - Por Pagar", 0.0, 0.0, 0.0, 5000.00, 5000.00],
        ["AUX5164 - Emerson Dominicana - Por Pagar", 0.0, 0.0, 0.0, -15000.00, -15000.00],
        ["AUX527 - Jimmy Alexander Pujols  Cargos Varios Compra - Por Pagar", 0.0, 0.0, 0.0, -6782.12, -6782.12],
        ["AUX5478 - james brea - Por Pagar", 0.0, 0.0, 0.0, 10000.00, 10000.00],
        ["AUX6053 - EDUARDO ALBERTO GARCIA ORTEGA - Por Pagar", 0.0, 0.0, 0.0, 100.00, 100.00],
        ["AUX6573 - Jose Manuel Gonzales (CCN) - Por Pagar", 5614.70, 0.0, 0.0, 0.0, 5614.70],
        ["AUX6632 - MIGUEL DANIEL HERNANDES PEGUERO - Por Pagar", 0.0, -22300.00, 9600.00, 21200.00, 8500.00],
        ["AUX6655 - EDUARDO CARLOS MEJIA DE POMAR - Por Pagar", 5947.20, 30444.00, 18691.20, 0.0, 55082.40],
        ["AUX6672 - Nicanor Silverio Perez - Por Pagar", -23355.00, -67285.00, -33061.00, 123701.00, 0.0],
        ["AUX6685 - Delis Contreras Alcantara - Por Pagar", 0.0, 0.0, 0.0, -100.98, -100.98],
        ["AUX697 - Jose  A. Mourelle Javier - Por Pagar", 4150.00, 0.0, -7920.00, 87119.80, 83349.80],
        ["AUX762 - Wilma Chavel Mejia Marmolejos  - Por Pagar", 0.0, 0.0, 0.0, -100.98, -100.98],
        ["AUX7698 - Anabelle Paulino - Por Pagar", 0.0, 0.0, 0.0, 8000.00, 8000.00],
        ["AUX7848 - Jose Pe\u00f1a del Villar - Por Pagar", 0.0, 0.0, -47500.00, 47500.00, 0.0],
        ["AUX805 - Juan Carlos Zorrilla - Por Pagar", 0.0, 0.0, 0.0, -5305.20, -5305.20],
        ["AUX8283 - MARCOS BONARELLI - Por Pagar", 0.0, 0.0, 0.0, 7200.00, 7200.00],
        ["AUX845 - Jorge Manuel Bencosme Ramos - Por Pagar", 0.0, 0.0, 0.0, 18.00, 18.00],
        ["AUX866 - la zarina  No usar repetido - Por Pagar", 0.0, 0.0, 0.0, -8138.00, -8138.00],
        ["AUX871 - Domingo Antonio Martinez - Por Pagar", 0.0, -2400.00, 2400.00, 4708.89, 4708.89],
        ["AUX874 - Jose Antonio Nourelle no usar Repetido - Por Pagar", 0.0, 0.0, 0.0, -1280.00, -1280.00],
        ["AUX882 - Pedro Pascual Martinez - Por Pagar", 0.0, -5500.00, 5200.00, 16048.50, 15748.50],
        ["AUX8839 - Mark Engel Lorenzo Emeterio - Por Pagar", 0.0, 0.0, 0.0, -5020.00, -5020.00],
        ["AUX887 - Antonio Matos - Por Pagar", 0.0, 0.0, 0.0, -3600.00, -3600.00],
        ["AUX905 - Victor Felipe Arias  - Por Pagar", 0.0, 0.0, 0.0, 59390.00, 59390.00],
        ["AUX93 - Jose Alberto Diaz - Por Pagar", 6000.00, 6000.00, 6000.00, -20000.00, -2000.00],
        ["AUX9369 - Pedro Manuel Ramirez Taveras - Por Pagar", 0.0, 0.0, 0.0, 761.60, 761.60],
        ["AUX967 - Felix De Jesus Ramirez Polanco - Por Pagar", 0.0, 0.0, 0.0, -251316.27, -251316.27],
        ["AUX971 - Jonathan Ferrera - Por Pagar", 0.0, 0.0, 0.0, 2787.50, 2787.50],
        ["AUX976 - Mireya Dujarric Estrella - Por Pagar", 0.0, 0.0, 462.96, 210945.54, 211408.50],
        ["AUX980 - Ernesto M. Soto - Por Pagar", 0.0, 0.0, 0.0, 2000.00, 2000.00],
        ["AUX981 - Victor Manuel Rodriguez - Por Pagar", 0.0, -1500.00, 1500.00, -8000.00, -8000.00],
        ["AUX986 - Julio Cesar Martin Veloso - Por Pagar", 0.0, 0.0, 0.0, -936.67, -936.67],
        ["AUX992 - Noemi Diaz Lora - Por Pagar", 0.0, 0.0, -0.33, 0.33, 0.0]
      ]}      
          
    </script>
    
  </body>
</html>